.tab {
  display: flex;
  justify-content: space-between;
  background: rgba(211, 211, 211, 0.288);
  width: 95%;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 17%;
}

.tab h4,
.tab p {
  margin: 3px;
}

.tab div {
  margin: 10px;
}
